name: PR checks
on:
  pull_request:
jobs:
  test:
    name: Test using JDK ${{matrix.java}} and sbt ${{matrix.sbt}}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [8]
        sbt:
          - 1.10.7
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 8
      - uses: actions/cache@v4
        with:
          path: ~/.ivy2/cache
          key: ivy-${{hashFiles('**/*.sbt')}}-${{matrix.sbt}}
          restore-keys: ivy-
      - uses: actions/cache@v4
        with:
          path: ~/.sbt
          key: sbt-${{hashFiles('**/*.sbt')}}-${{hashFiles('project/build.properties')}}-${{matrix.sbt}}
          restore-keys: sbt-
      - run: sbt "^^${{matrix.sbt}}; test; scripted"
