name: Release
on:
  push:
    branches: [master]
    tags: ["*"]
jobs:
  release:
    runs-on: ubuntu-20.04
    if: github.repository == 'scapegoat-scala/sbt-scapegoat'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: olafurpg/setup-scala@v14
        with:
          java-version: adopt@1.8
      - run: |
          echo ${PGP_SECRET:0:4}...${PGP_SECRET: -4}
          sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
